body {
    background-color: black;
    height: 100vh;
    margin: 0;
}

main {
    background-color: rgb(10, 10, 10);
}

.first-box {
    color: white;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-class {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

main .logo {
    width: 70px;
    height: auto;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
}

.btn {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
    border: 1px solid rgb(248, 39, 39);
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;
    transition: 0.5s all ease;
    z-index: 1; /* Pour voire le texte */
    cursor: help;
}

.btn::before {
    content: "";
    position: absolute;
    background: rgb(248, 39, 39);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    z-index: -1; /* Doit être en arrière-plan */
    transition: 0.5s all ease;
    height: 0%;
    width: 120%;
}

.btn:hover {
    color: black; /* Change la couleur du texte au survol */
}

.btn:hover::before {
    height: 310%; /* Garde cette partie */
    transform: translate(-50%, -50%) rotate(25deg) scale(1.1); /* Ajoute l'effet d'agrandissement */
}
